.grid {
background-image: url('/assets/sean-pollock-PhYq704ffdA-unsplash.jpg');     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media screen and (min-width: 1400px) {
    .grid {
        background-position: top;
    }
}

::ng-deep {

    p-dropdown,
    .p-dropdown {
        width: 100% !important;
    }

    .p-dropdown .p-dropdown-label {
        text-align: left !important;
    }
}

.p-toast {
    backdrop-filter: blur(10px);

    .p-toast-message {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}